workflow.json
{
  "nodes": [
    {
      "parameters": {
        "public": true,
        "initialMessages": "Olá! 👋\nComo posso te ajudar",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ],
      "id": "2272abfa-afdd-48e7-9111-2ac593a617df",
      "name": "When chat message received",
      "webhookId": "be567f91-bae3-4ba9-bade-6555ca811c23"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9baaba23-a2bc-4d1b-a28f-ecd3bc3376d1",
              "name": "idConversa",
              "value": "={{ $json.sessionId }}",
              "type": "string"
            },
            {
              "id": "4b40f869-4c72-40d7-90df-313047861035",
              "name": "Menssagem",
              "value": "={{ $json.chatInput }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        220,
        0
      ],
      "id": "1c8ba5bd-4e17-424b-8790-577ff49bd385",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "17MgP0nGyf70rCLb8ppUf7rDI6ESZSreXXapfJjpSTGY",
          "mode": "list",
          "cachedResultName": "Curso N8N",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/17MgP0nGyf70rCLb8ppUf7rDI6ESZSreXXapfJjpSTGY/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Página1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/17MgP0nGyf70rCLb8ppUf7rDI6ESZSreXXapfJjpSTGY/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "IdConversa": "={{ $json.idConversa }}",
            "Mensagem": "={{ $json.Menssagem }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "IdConversa",
              "displayName": "IdConversa",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Mensagem",
              "displayName": "Mensagem",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        440,
        0
      ],
      "id": "9bc580d6-52f9-4413-a47a-2cee3477d81a",
      "name": "Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "IEDE8PbWCjOBiWYK",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Edit Fields').item.json.Menssagem }}",
        "options": {
          "systemMessage": "Você é um super agente de suporte, seja educado, engraçado e utilize emojis em suas respostas para deixar a conversa mais humanizada"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        660,
        0
      ],
      "id": "8172c5a0-ac12-4fce-927f-d4c144dc9ee5",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": "llama-3.1-8b-instant",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        580,
        200
      ],
      "id": "dbe24253-2be6-43bc-830d-33f8184dfe40",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "n256zEMJu33IZ4El",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Edit Fields').item.json.idConversa }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        700,
        200
      ],
      "id": "725975f0-df9a-4cf5-9c75-b79d7c9a37ea",
      "name": "Simple Memory"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolCalculator",
      "typeVersion": 1,
      "position": [
        940,
        200
      ],
      "id": "d825bebf-4cf1-427a-9e04-0cd49cf71137",
      "name": "Calculator"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolWikipedia",
      "typeVersion": 1,
      "position": [
        820,
        200
      ],
      "id": "033973f3-e900-4158-bb12-246c130ffe3d",
      "name": "Wikipedia"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1020,
        0
      ],
      "id": "f4872248-306e-4e1d-aef9-ed06f089c844",
      "name": "No Operation, do nothing"
    }
  ],
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Calculator": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Wikipedia": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "75580f67514b6f3f9021e9efcd47c87353cd439124606753ebcb6a442e0d2ea2"
  }
}